
<div class="container" >
    <h2>Ajouter un évènement</h2>
    <div class="row">
        <div class="col-md-6">
            <form novalidate
                  [formGroup]="createEventForm">
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"
                           class="form-control"
                           formControlName="description"
                           name="description"
                           [ngClass]="{'is-invalid': description.invalid && (description.touched || createEventSubmitted)}"
                           id="description"/>

                    <div *ngIf="description.invalid && (description.touched || createEventSubmitted)"
                         class="text-danger col-12 validation-messages-list">
                        <div *ngIf="description.errors.required" class="validation-message">La description de l'évènement est requise.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Localisation</label>
                    <input type="text" class="form-control" formControlName="location" name="location" id="location">
                </div>
                <div class="form-group">
                    <label for="startDate">Date et heure de début</label>
                    <input formControlName="start"
                           class="form-control"
                           type="datetime-local"
                           [ngClass]="{'is-invalid': start.invalid && (start.touched || createEventSubmitted)}"
                           name="startDate" id="startDate" />
                    <div *ngIf="start.invalid && (start.touched || createEventSubmitted)"
                         class="text-danger col-12 validation-messages-list">
                        <div *ngIf="start.errors.required" class="validation-message">La date et l'heure de début sont requises.</div>
                        <div *ngIf="start.errors.date" class="validation-message">Ce champ est invalide.</div>
                        <div *ngIf="start.errors.minDate" class="validation-message">L'évènement ne doit pas être dans le passé.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="endDate">Date et heure de fin</label>
                    <input  formControlName="end"
                            class="form-control"
                            type="datetime-local"
                            [ngClass]="{'is-invalid': end.invalid && (end.touched || createEventSubmitted)}"
                            name="endDate" id="endDate">
                    <div *ngIf="end.invalid && (end.touched || createEventSubmitted)"
                         class="text-danger col-12 validation-messages-list">
                        <div *ngIf="end.errors.required" class="validation-message">La date et l'heure de fin sont requises.</div>
                        <div *ngIf="end.errors.date" class="validation-message">Ce champ est invalide.</div>
                        <div *ngIf="end.errors.minDate" class="validation-message">La date de fin ne doit pas être inférieure à la date de début.</div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success"
                            (click)="saveEvent()">
                        Enregistrer l'évènement
                    </button>
                </div>
                <div class="form-group">
                    <a routerLink="planning" class="btn btn-danger">Annuler</a>
                </div>
            </form>
        </div>
    </div>
</div>
