<div><h2>Lundi {{lundi.day}} : </h2>
<ul>
<li *ngFor="let event of calendar.lundi"><ul>
  <li> {{event.description}}</li>
  <li> {{event.beginDate}}</li>
  <li> {{event.endDate}}</li>
  <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Mardi {{mardi.day}} : </h2>
<ul>
<li *ngFor="let event of calendar.mardi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Mercredi {{mercredi.day}} : </h2>
<ul>
<li *ngFor="let event of calendar.mercredi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Jeudi {{jeudi.day}} : </h2>
<ul>
<li *ngFor="let event of calendar.jeudi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Vendredi {{vendredi.day}} : </h2>
<ul>
<li *ngFor="let event of calendar.vendredi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>
