<div><h2>Lundi : </h2>
<ul>
<li *ngFor="let event of calendar.lundi"><ul>
  <li> {{event.description}}</li>
  <li> {{event.beginDate}}</li>
  <li> {{event.endDate}}</li>
  <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Mardi : </h2>
<ul>
<li *ngFor="let event of calendar.mardi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Mercredi : </h2>
<ul>
<li *ngFor="let event of calendar.mercredi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Jeudi : </h2>
<ul>
<li *ngFor="let event of calendar.jeudi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>

<div><h2>Vendredi : </h2>
<ul>
<li *ngFor="let event of calendar.vendredi"><ul>
 <li> {{event.description}}</li>
 <li> {{event.beginDate}}</li>
 <li> {{event.endDate}}</li>
 <li> {{event.location}}</li></ul>
</li>
</ul>
</div>
