<div class="addEvent">
    <div class="row">
        <div class="col-12">
            <button class="planning-link" routerLink="/user/event">Ajouter un évènement</button>
        </div>
    </div>
</div>

<div class="container"
     #rootElement>
    <div class="planning-container row">
        <div class="planning-header col-12">
            <div class="row justify-content-center"
                 *ngIf="apiresponseReceived">
                <div class="col-md-3 col-sm-6">
                    <div class="row justify-content-around">
                        <button class="btn btn-light goto-today"
                                (click)="setPlanning(0)">Auhourd'hui</button>
                        <div class="btn-group" role="group">
                            <button class="btn btn-light goto-next"
                                    (click)="setPlanning(-1)">
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-light goto-previous"
                                    (click)="setPlanning(1)">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="planning-header-fc-container row"></div>
        </div>
        <div class="plainning-fc">

        </div>
    </div>
</div>





