
.displayed-month {
    padding: .375rem .75rem;
    font-size: 18px;
}

:host ::ng-deep .fc-event {
    color: #fff !important;
    cursor: pointer;
}

:host ::ng-deep .fc-event >  .fc-content {
    display: flex;
    flex-flow: column;
}

:host ::ng-deep .fc-event > .fc-content > .fc-title { order: 1 }
:host ::ng-deep .fc-event > .fc-content > .fc-time { order: 2 }

:host ::ng-deep .fc-event .fc-title {
    font-weight: bold;
}

:host ::ng-deep .fc-divider {
    display: none !important;
}

:host ::ng-deep .fc-scroller.fc-time-grid-container {
    height: 599px !important;
}

:host ::ng-deep .planning-header table.table-bordered {
    border-top-width: 0;
}

:host ::ng-deep td.fc-time {
    border-top: 0;
}

:host ::ng-deep tr > td.fc-time > span {
    position: relative;
    top: -13px;
    font-size: 10px;
}

:host ::ng-deep tr:first-child > td.fc-time > span {
    opacity: 0;
}

:host ::ng-deep .fc-header-table th:first-child {
    width: 37px !important;
    border-top-width: 0;
    border-left-width: 0;
}
:host ::ng-deep .fc-header-table th.fc-day-header {
    text-align: left;
    padding: 12px 12px 12px 20px;
    border-top-width: 1px;
}

:host ::ng-deep .fc-header-table th.fc-day-header.fc-today {
    color: #4285f4;
}

:host ::ng-deep .fc-header-table th.fc-day-header * {
    font-weight: normal;
    line-height: 20px;
}

:host ::ng-deep .fc-header-table th.fc-day-header :first-child {
    font-size: 12px;
    margin: 0;
}
:host ::ng-deep .fc-header-table th.fc-day-header :last-child {
    font-size: 40px;
}
:host ::ng-deep table.fc-header-table {
    border-bottom: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    border-left-width: 0;
    table-layout: fixed;
}

:host ::ng-deep .planning-header {
    position: fixed;
    z-index: 11;
    padding-right: 0;
}

:host ::ng-deep .planning-header > * {
    padding-top: 16px;
    background-color: white;
}

:host ::ng-deep .fc-view-container > .fc-view > .table-bordered,
:host ::ng-deep .fc-view-container .fc-body > tr > td {
    border-top-width: 0;
}
:host ::ng-deep .fc-view-container {
    margin-top: 177px;
}

/* remove body scroller */
:host ::ng-deep .fc-body .fc-scroller {
    height: 100% !important;
    overflow-x: auto !important;
    overflow-y: auto !important;
}

:host ::ng-deep .fc-bg .fc-axis,
:host ::ng-deep .fc-slats .fc-axis {
    width: 28px !important;
}

#loader {
    padding-top: 3rem;
}

#loader > .ld.ld-spin {
    font-size: 3rem;
}
