<div class="container py-3">
  <div class="row">
      <div class="col-md-6 col-lg-4 mx-auto">
              <div class="card card-body">
                  <h3 class="text-center mb-4">Create an account</h3>
                    <form class="formGroup"
                        novalidate
                        [formGroup]="signUpForm">
                    <div class="form-group" ng-controller="myCtrl">
                      <div class="form-group">
                          <input type="text"
                          name="firstName"
                          class="form-control"
                          placeholder="First Name"
                          formControlName="firstName"/>
                      </div>
                      <div *ngIf="firstNameFormControl.invalid &&firstNameFormControl.touched"
                      class="text-danger">
                   <div *ngIf="firstNameFormControl.errors.required">
                     First Name is required for registration
                   </div>
                 </div>

                      <div class="form-group">
                          <input type="text"
                          name="lastName"
                          class="form-control"
                          placeholder="Last Name"
                          formControlName="lastName"/>
                      </div>

                      <div class="form-group">
                          <input type="email"
                          name="email"
                          class="form-control"
                          placeholder="Email"
                          formControlName="email"/>
                      </div>

                      <div class="form-group">
                          <select class="form-control input-lg">
                              <option>Master 2 Génie Logiciel</option>
                              <option>Master 2 Réseaux de communication et Internet</option>
                              <option>Master 2 Informatique Fondamentale</option>
                              <option>Master 2 Informatique pour l'Image et le Son</option>
                          </select>
                      </div>

                      <div class="form-group">
                          <input type="password"
                          name="password"
                          class="form-control"
                          placeholder="Password"
                          formControlName="password"/>
                      </div>

                      <div class="form-group">
                          <input type="password"
                          name="cPassword"
                          class="form-control"
                          placeholder="Confirm Password"
                          formControlName="cPassword"/>
                      </div>

                      <div align="center">
                          <button class="btn btn-success"
                          type="submit"
                          name="createAccount"
                          (click)="submitSignUpForm()" 
                          >Sign Up</button>

                          <button class="btn btn-danger"
                              type="reset"
                              name="reset"
                              (click)="reset()" 
                              >Reset</button>
                        </div> 
                      </div>
                    </form>

              </div>
      </div>
  </div>
</div>