
<!--
<form class="signUp" action="http://localhost:3000/register" method="POST">
  <div class="container1" align="Center">

      <br/><br/><br/>

        <h2>Create an account</h2>
        <div class="form-group">
          <label for="UserName">Fist Name:</label>
          <input type="text" placeholder="Enter your first Name" class="form-control" name="firstName" required>
        </div>

        <div class="form-group">
          <label for="UserName">Last Name:</label>
          <input type="text" placeholder="Enter your last Name" class="form-control" name="lastName" required>
        </div>

        <div class="form-group">
          <label for="UserName">Email:</label>
          <input type="text" placeholder="Enter your Email" class="form-control" name="email" required>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" placeholder="Enter Password" class="form-control" name="password" required>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Repeat Password:</label>
          <input type="password" placeholder="Repeat Password" class="form-control" name="rpassword" required>
        </div>

        <form method="post" action="choiceSpeciality">
-->
         <label for="le_nom">Speciality:</label><br />
        <select name="speciality" id="speciality">
             <option *ngFor="let speciality of specialities">{{ speciality.name }}</option>
        </select>
<!--
  </form>

        <button ng-click="register" type="submit" class="btn btn-default">Sign up</button>
        <button type="reset" class="btn btn-default">Reset</button>
  </div>
</form>-->
